html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

#loading{
    font-size: 2em;
    color: #ccc;
    text-align: center;
    padding: 40px;
}

#main{
  display: none; /* Cleared after loading */

  background: #fff;
  border-radius: 20px;
  padding: 0;
}

#intro
{
    padding: 0 10px 0 10px;
}

#question
{
    font-size: 1.4em;
}

#explanation
{
    font-size: 1.2em;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.group
{
    border: 1px solid #ccc;
    margin: 15px 0 0 0;
    border-radius: 12px;
    position: relative;
}

.group ol
{
    display: inline-block;
    width: 80%;
    margin: 15px;
}

    .group ol li
    {
        display: block;
        padding: 8px 15px 8px 15px;
        overflow: hidden;
    }

.group.allowed
{
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #ceefce;
}

.group ol li:nth-of-type(1)
{
    border-top: none;
}

.group ol li
{
    border-top: 1px solid #ccc;
    padding: 5px 8px 8px 8px;
}

.group .txt span
{
    display: block;
}

.group .txt span.txt_data_pre, .group .txt span.txt_purpose_pre
{
    color: #555;
}

.group .txt span.txt_purpose_pre
{
    margin-top: 5px;
}

/**
 * Checkboxes
 */

.agree {
    position: relative;
    min-height: 34px;
    background: rgba(0,0,0,0.1);
    padding: 5px;
}

.agree-txt
{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 80px 10px 10px;
    text-align: right;
}

.switch {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
  background-color: #3c3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3c3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
